/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* colors */
  --sedans: #e38826;
  --suvs: #006970;
  --luxury: #004241;
  --white: #f2f2f2;

  --radius: 0.625rem;
}

body {
  background-color: var(--white);
}

main {
  margin: 1.5rem;
}

.container {
  display: grid;
  height: 100%;
  font-size: 1.5rem;
  padding: 3rem;
  gap: 2rem;
  text-align: left;
}

/* TITLES */
.container h2 {
  font-family: 'Big Shoulders Display', cursive, sans-serif;
  color: var(--white);
}

/* PARAGRAPHS */
.container p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9375rem;
  color: #ffffffbf;
}

.button {
  width: 10rem;
  padding: 1rem;

  text-align: center;
  text-decoration: none;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;

  border-radius: 2rem;
  background-color: var(--white);
}

/* SEDANS */
.sedans {
  background-color: var(--sedans);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.sedans .button {
  color: var(--sedans);
}

/* SUVS */
.suvs {
  background-color: var(--suvs);
}

.suvs .button {
  color: var(--suvs);
}

/* LUXURY */
.luxury {
  background-color: var(--luxury);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.luxury .button {
  color: var(--luxury);
}

/* MEDIA QUERIES */
@media (min-width: 1200px) {
  main {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .all {
    display: grid;
    grid-auto-flow: column;
    width: 60%;
  }

  .container img {
    width: 4.5rem;
  }

  /* TITLES */
  .container h2 {
    font-size: 3rem;
  }

  /* PARAGRAPHS */
  .container p {
    margin-bottom: 4rem;
  }

  /* SEDANS */
  .sedans {
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius);
  }

  /* LUXURY */
  .luxury {
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: 0;
  }
}
